{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row home_bg">
		<div class="col-lg-4 col-sm-6 col-xs-12 no-padding">
			<div class="about_me">
				<img src="img/me.jpg" class="img-fluid img-thumbnail" alt="">
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 col-xs-12 no-padding">
			<div class="about_me_content">
				<h5>Witam, nazywam się</h5>
				<h3>Kamil Ziniewicz</h3>
				<p>Utworzyłem tego bloga w Pythonie na potrzeby przedmiotu 'Programowanie w językach skryptowych', który jest na IV semestrze studiów zaocznych PWSZ w Elblągu</p>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12 col-xs-12">
			<div class="about_me_contact_info">
				<div class="profile_info">
					<span class="th">Kto:</span>
					<span class="td">Kamil Ziniewicz</span>
				</div>
				<div class="profile_info">
					<span class="th">Data ur:</span>
					<span class="td">29 Paź 1985</span>
				</div>
				<div class="profile_info">
					<span class="th">Adres:</span>
					<span class="td">ul. Słowackiego 73A<br>82-200 Malbork</span>
				</div>
				<div class="profile_info">
					<span class="th">Tel:</span>
					<span class="td">+48 514 309 580</span>
				</div>
				<div class="profile_info h_email">
					<span class="th">E-mail:</span>
					<span class="td"><a href="mailto:kamil@ziniewicz.pl">kamil@ziniewicz.pl</a></span>
				</div>
				<div class="profile_info h_website">
					<span class="th">Strona:</span>
					<span class="td"><a href="www.ziniewicz.pl" target="_blank">www.ziniewicz.pl</a></span>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}